.box-px{
    width: 200px;
    height: 150px;
    background-color: lightblue;
}
.box-percent{
    width: 50%;
    height: 100px;
    background-color: lightgreen;
}
.parent{
    font-size: 20px;

}
.text-em{
    font-size: 1.5em;

}
.text-rem{
    font-size: 2rem;
}
.viewport-box{
    width: 50vw;
    height: 30vh;
    background-color: peachpuff;
}
.viewport-title{
    font-size: 5vmin;
    margin: 3vmax;
}
.limit-box{
    width: 90%;
    max-width: 300px;
    height: auto;
    max-height: 200px;
    background-color: lightgray;
    
}